{% extends 'layout.html' %}
{% block title %}
    Picture
{% endblock %}

{% block content %}
     <h1> {{ photo.title }}<h1>
    <article>
        <p>{{ photo.date }}</p>
        <img 
            src = "{{photo.picture.url}}"
            alt = "{{photo.title}}">
        {% if user.is_authenticated and photo.owner == user %}
        <form action="{% url 'photos:delete' name=photo.title %}" method="post" style="margin-top: 20px;">
            {% csrf_token %}
            <button type="submit" class="btn-delete">Delete Photo</button>
        </form>
    {% endif %}
    </article>
{% endblock %}

